.form {
  &__row {
    position: relative;
    margin-bottom: 1rem;

    &_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  &__footer {
    text-align: center;
  }

  &__label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  &__error {
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 0;
    display: block;
    margin-top: .5rem;
    font-size: .875rem;
    color: var(--color-error);
  }
}