.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  padding: 20px;
  background-color: var(--color-brand);
  border-radius: 5px;
  color: var(--color-white);
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  margin: 0;
}
