.root {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--component-bg);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  list-style: none;
  color: var(--color-text);
  z-index: 10;
}

.listItem {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  &:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
  }
}