.root {
  position: relative;
  min-height: 60px;
  padding: 10px 0;
  background-color: var(--component-bg);
  
  
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--color-brand);
}

.subtitle {
  margin: 0;
  font-size: 1rem;
  color: var(--color-lightgray);
}

.error {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;
}